/* Base styles and typography */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #0C2B4E; /* Navy blue background */
}

/* Typography */
h2, h3, p {
    color: #F4F4F4; /* Light text */
}

a {
    text-decoration: none;
}

/* Color variables */
:root {
    --dark-bg: #0C2B4E;
    --primary-blue: #1A3D64;
    --accent-blue: #1D546C;
    --light-text: #F4F4F4;
    --main-color: #1D546C;
}