/* Base styles and typography */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #3C3D37; /* Dark gray background */
}

/* Typography */
h2, h3, p {
    color: #ECDFCC; /* Light text */
}

a {
    text-decoration: none;
}

/* Color variables */
:root {
    --dark-bg: #181C14;
    --dark-gray: #3C3D37;
    --light-text: #ECDFCC;
    --muted-green: #697565;
}