<section class="cards" id="certifications">
    <h2 class="title">Certifications</h2>
    <div class="content">
        <div class="card">
            <div class="info"> 
                <a href="https://www.linkedin.com/posts/basel-embaby-948671227_training-ccna-nti-activity-6982974217025695744-fMOi?utm_source=share&utm_medium=member_desktop"
                    target="_blank"><i class="fab fa-linkedin"></i></a>
                <h3>Cisco Network Certification</h3>
                <p>CCNA certified by NTI Egypt, obtained through technical summer training at Creative Mansoura
                    University in 2021. Proficient in Cisco networking technologies, including routing and switching, network
                    fundamentals, LAN switching technologies, IPv4 and IPv6 routing technologies, WAN technologies,
                    infrastructure services, and security fundamental</p>
                <a href="https://drive.google.com/file/d/1ykoZamXmF40e0biPJeUh51kp4lZh7mF_/view?usp=drive_link"
                    target="_blank">View Certification</a>
            </div>
        </div>
        
        <!-- Additional certifications -->
    </div>
</section>