<section class="cards contact" id="contact">
    <h2 class="title">Let's work together</h2>
    <div class="content">
        <div class="card">
            <div class="icon">
                <i class="fas fa-phone"></i>
            </div>
            <div class="info">
                <h3>Phone</h3>
                <div>01060417664</div>
            </div>
        </div>
        <div class="card">
            <div class="icon">
                <i class="fas fa-envelope"></i>
            </div>
            <div class="info">
                <h3>Email</h3>
                <div>basel.a.embaby@gmail.com</div>
            </div>
        </div>
        <div class="card">
            <div class="icon">
                <i class="fab fa-discord"></i>
            </div>
            <div class="info">
                <h3>Discord</h3>
                <a href="https://discord.com/channels/@me" target="_blank">@baselembaby</a>
            </div>
        </div>
        <div class="card">
            <div class="icon">
                <i class="fab fa-telegram"></i>
            </div>
            <div class="info">
                <h3>Telegram</h3>
                <a href="https://t.me/baselembaby" target="_blank">@baselembaby</a>
            </div>
        </div>
    </div>
</section>