<section class="cards" id="languages">
    <h2 class="title">Language Proficiency</h2>
    <div class="content">
        <div class="card">
            <div class="info">
                <h3>German <img src="images/german.jpg" alt="German Flag" style="width:20px; height:auto;"></h3>
                <p>A2 Level</p>
            </div>
        </div>
        <div class="card">
            <div class="info">
                <h3>English <img src="images/uk.jpg" alt="UK Flag" style="width:20px; height:auto;"></h3>
                <p>B1 Level</p>
            </div>
        </div>
        <div class="card">
            <div class="info">
                <h3>Arabic <img src="images/egypt.jpg" alt="Egypt Flag" style="width:20px; height:auto;"></h3>
                <p>Native</p>
            </div>
        </div>
    </div>
</section>