<section class="projects" id="projects">
    <h2 class="title">Flutter Projects</h2>
    <div class="content">
        <!-- Notes App -->
        <div class="project-card"
            style="background-color: #333333; border: 1px solid #ffffff; border-radius: 8px; box-shadow: 4 4px 8px rgba(0, 0, 0, 0.1); overflow: hidden; margin: 20px auto; max-width: 600px; transition: transform 0.2s ease-in-out;">
            <div class="project-image" style="text-align: center; background-color: #3c3d37; padding: 15px;">
                <video width="560" height="315" controls>
                    <source src="images/NotesApp.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="project-info" style="padding: 20px; background-color: #333333;">
                <p class="project-category" style="font-size: 1.2em; color: #edf0e0; margin-bottom: 10px;">Notes App</p>
                <p class="project-description" style="font-size: 1em; color: #edf0e0; margin-bottom: 15px;">A simple
                    app for taking notes with customizable colors for each note.</p>
                <strong class="project-title">
                    <a href="https://github.com/engbasel/Notes-App-SQflite" target="_blank"
                    style="font-size: 1.1em; color: #edf0e0; text-decoration: none; margin-right: 10px; 
                           animation: moveAnimation 3s infinite linear;">
                    Source code
                    </a>
                    <a href="#" target="_blank"
                    style="font-size: 1.1em; color: #edf0e0; text-decoration: none; margin-right: 10px; 
                           animation: moveAnimation 3s infinite linear;">
                    More details
                    </a>
                </strong>
                <div class="project-details" style="margin-top: 20px;">
                    <p style="font-size: 1em; color: #edf0e0; margin-bottom: 10px;">Technologies and Features:</p>
                    <ul style="list-style-type: disc; padding-left: 20px; color: #edf0e0;">
                        <li style=" margin-bottom: 5px; ">Used SQflite for local database storage</li>
                        <li style="margin-bottom: 5px;">Implemented customizable note colors</li>
                        <li style="margin-bottom: 5px;">Included CRUD operations for notes management</li>
                        <li style="margin-bottom: 5px;">Provided search and sorting functionality</li>
                        <li style="margin-bottom: 5px;">Simple and intuitive user interface</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Notes App End -->
        
        <!-- Additional projects can be added here -->
    </div>
</section>