<section class="cards" id="services">
    <h2 class="title">Services</h2>
    <div class="content">
        <div class="card">
            <div class="icon">
                <i class="fas fa-mobile"></i>
            </div>
            <div class="info">
                <h3>Mobile App Developer Flutter</h3>
                <p>
                    As a dedicated mobile developer specializing in Flutter:
                </p>
                
                <ul>
                    <li>Strong foundation in mobile app development with web technologies.</li>
                    <li>Self-learning experience, leading to expertise in Flutter.</li>
                    <li>Successfully executed multiple projects.</li>
                    <li>Special interest in e-commerce applications and POS solutions.</li>
                    <li>Actively developing and marketing several products.</li>
                </ul>
            </div>
        </div>
  
        <div class="card">
            <div class="icon">
                <i class="fas fa-code"></i>
            </div>
            <div class="info">
                <h3>Web Developer</h3>
                <p>
                    As a versatile web developer, I specialize in building modern, responsive web applications using both traditional web technologies and Flutter Web.
                </p>
                <ul>
                    <li>Proficient in HTML, CSS, JavaScript, and modern frameworks like React and Vue.js.</li>
                    <li>Experience in building dynamic and responsive websites with optimized UI/UX.</li>
                    <li>Developing cross-platform web apps using Flutter Web for seamless performance.</li>
                    <li>Understanding of backend development, integrating APIs, and managing databases.</li>
                    <li>Special focus on e-commerce platforms and POS solutions.</li>
                </ul>
            </div>
        </div>
    </div>
</section>